

/*Universal Styles*/

html {
	font-family: Open Sans, Sans-serif;
	font-size: 14px;
}

/*Nav*/

.navbar {
	font-size: 1.1rem;
	font-weight: 600;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
	color: #399bd1;
	font-size: 1.1rem;
	font-weight: bold;
}